{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}} - Modifier la Parcelle
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
			Modifier la Parcelle</h1>
            {{form(form)}}

	</div>
{% endblock %}
